<div class="row"> <!-- Days 1 & 2 -->
  <div class="col-md-6"> <!-- Day 1 -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00 am</td>
        <td>Installation Problems and Pre-workshop Survey</td>
      </tr>
      <tr>
        <td>09:30 am</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/">Introducing the Unix Shell</a></td>
      </tr>
      <tr>
        <td>10:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45 am</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/">Working with Files and Directories</a></td>
      </tr>
      <tr>
        <td>11:45 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:00 pm</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/">Shell Scripts</a></td>
      </tr>
      <tr>
        <td>01:00 pm</td>
        <td>Wrap-up and End</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6"> <!-- Day 2 -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00 am</td>
        <td>Installation Problems and Review questions</td>
      </tr>
      <tr>
        <td>09:30 am</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python Part 1</a></td>
      </tr>
      <tr>
        <td>10:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45 am</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Analyzing Data with Python</a></td>
      </tr>
      <tr>
        <td>11:45 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:00 pm</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Repeating Actions with FOR Loops</a></td>
      </tr>
      <tr>
        <td>01:00 pm</td>
        <td>Wrap-up and End</td>
      </tr>
    </table>
  </div>
</div>

<div class="row"> <!-- Days 3 & 4 -->
  <div class="col-md-6"> <!-- Day 3 -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00 am</td>
        <td>Welcome and instructions for the day</td>
      </tr>
      <tr>
        <td>09:15 am</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python Part 2</a></td>
      </tr>
      <tr>
        <td>10:15 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:30 am</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Errors and Exceptions</a></td>
      </tr>
      <tr>
        <td>11:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:45 am</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Command-Line Programs</a></td>
      </tr>
      <tr>
        <td>12:45 pm</td>
        <td>Wrap-up and End</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6"> <!-- Day 4 -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00 am</td>
        <td>Installation Problems and Review questions</td>
      </tr>
      <tr>
        <td>09:20 am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>
      </tr>
      <tr>
        <td>10:20 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:35 am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Git and Directories</a></td>
      </tr>
      <tr>
        <td>11:35 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:50 am</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Recap and Conflicts</a></td>
      </tr>
      <tr>
        <td>12:50 pm</td>
        <td>End / <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
